<!-- <app-data-binding></app-data-binding>
<app-messaggi></app-messaggi> 
<app-in-out-parent></app-in-out-parent>
<app-test-service></app-test-service>
<app-studente-parent></app-studente-parent>
<app-studente-container></app-studente-container>-->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Corso angular</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="messaggi">Messaggi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="data-binding">Data binding</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="in-out-parent">Parent e in/out child</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="studente-parent">Studenti parent/child</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="studente-service">Studenti con service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="observables">Observables</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>