<div class="container-fluid bg-primary-subtle">
    <h1 class="display-2 p-5">Esempio di Reactive form</h1>
</div>
<div class="container mt-5">
    <form class="row g-3" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="col-md-4">
            <label for="inputNome" class="form-label">Nome</label>
            <input type="text" class="form-control" formControlName="nome" id="inputNome"
            [class.is-invalid]="formGroup.controls['nome'].touched && !formGroup.controls['nome'].valid"
            [class.is-valid]="formGroup.controls['nome'].valid">
            <div class="invalid-feedback">            
                Il nome è obbligatorio
            </div>
        </div>
        <div class="col-md-4">
            <label for="inputCognome" class="form-label">Cognome</label>
            <input type="text" class="form-control" formControlName="cognome" id="inputCognome"
            [class.is-invalid]="formGroup.controls['cognome'].touched && !formGroup.controls['cognome'].valid"
            [class.is-valid]="formGroup.controls['cognome'].valid">
            <div class="invalid-feedback">
                Il cognome è obbligatorio
            </div>
        </div>
        <div class="col-md-4">
            <label for="inputClasse" class="form-label">Classe</label>
            <input type="text" class="form-control" formControlName="classe" id="inputClasse">
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit" [disabled]="!formGroup.valid">Salva</button>
        </div>
    </form>
    <div class="row mt-5" *ngIf="studente">
        <h2 class="display-6">Studente</h2>
        <div class="col">
            <p class="lead">Nome: <b>{{studente.nome}}</b></p>
        </div>
        <div class="col">
            <p class="lead">Cognome: <b>{{studente.cognome}}</b></p>
        </div>
        <div class="col">
            <p class="lead">Classe: <b>{{studente.classe}}</b></p>
        </div>
    </div>
</div>