<div class="container-fluid bg-primary-subtle">
    <h1 class="display-2 p-5">Esempi con direttive strutturali</h1>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-9">
            <input type="text" class="form-control" [(ngModel)]="nuovoMessaggio">
        </div>
        <div class="col-3">
            <button class="btn btn-primary w-100" (click)="aggiungiMessaggio()">Aggiungi</button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <ul>
                <li *ngFor="let messaggio of messaggi">{{messaggio}}</li>
            </ul>
        </div>
        <div class="col">
            <table class="table" *ngIf="messaggi.length > 0; else noMessaggi">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Messaggio</th>
                        <th scope="col">Operazione</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let messaggio of messaggi; let i=index">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{messaggio}}</td>
                        <td><button class="btn btn-danger" (click)="eliminaMessaggio(i)">Cancella</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
        
    <ng-template #noMessaggi>
        <div class="alert alert-primary" role="alert">
            Non ci sono messaggi
        </div>
    </ng-template>