<div class="mb-3 col">
    <input type="text" class="form-control" aria-label="Nome" placeholder="Nome..." #nome>
</div>
<div class="mb-3 col">
    <input type="text" class="form-control" aria-label="Cognome" placeholder="Cognome..." #cognome>
</div>
<div class="mb-3 col">
    <input type="text" class="form-control" aria-label="Classe" placeholder="Classe..." #classe>
</div>
<div class="mb-3 col">
    <button class="btn btn-primary" (click)="salvaStudente(nome, cognome, classe)">Aggiungi</button>
</div>